/simpldon/application/config/config.php
/simpldon/application/config/database.php
/simpldon/application/logs/log-*.php
!/simpldon/application/logs/index.html
/simpldon/application/cache/*

*/.htaccess